.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #ffffff;
}

h1 {
  margin: 30px;

  font-size: 3rem;
  color: #173b45;
}

p {
  font-size: 2rem;
  color: #ff8225;
}

img {
  width: 30%;
}

footer {
  margin-top: 5%;
  color: #173b45;
  text-align: center;
}
